* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 0.14rem;
}

li {
    list-style: none;
}

img {
    vertical-align: middle;
}

input {
    border: none;
    outline: none;
    font-size: 0.14rem;
}
// html{
//     height: 100%;
// }
body {
    padding: 0.45rem 0;
    height: 100vh;
   
}

@main-color: #006699;
/*头部公共样式*/

#header {
    display: flex;
    align-items: center;
    background-color: @main-color;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    .left {
        width: 0.45rem;
        height: 0.45rem;
        line-height: 0.45rem;
        color: #fff;
    }
    h4 {
        flex: 1;
        margin: 0;
        font-size: 0.18rem;
        line-height: 0.45rem;
        font-weight: normal;
        color: #fff;
    }
    .right {
        width: 0.45rem;
        height: 0.45rem;
        font-size: 0.20rem;
        line-height: 0.45rem;
        color: #fff;
    }
    
    .form {
        flex: 1;
        text-align: left;
        font-size: 0.14rem;
        input {
            background-color: #fff;
            margin-bottom: 0;
           
        }
    }
}

/*底部公共样式*/

#footer {
    text-align: center;
    background-color: @main-color;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 999;
    div.active{
        a,i{
            color: #ffa500;
        }
      
    }
    .mui-col-xs-3 {
        padding: 0.06rem 0;
        i {
            display: block;
            font-size: 0.18rem;
            color: #fff;
        }
        a {
            color: #fff;
            font-size: 0.14rem;
        }
    }
}

#main{
    position: relative;
    background-color: #fff;
    height: 100%;
    .search {
        form {
            display: flex;
            padding: 0.05rem;
            input {
                flex: 1;
                margin-bottom: 0;
                background-color: #fff;
                border-radius: 0.06rem 0 0 0.06rem;
                border: 0.01rem solid @main-color;
                text-align: left;
                font-size: 0.14rem;
            }
               
            button {
                width: 0.6rem;
                color: @main-color;
                border-radius: 0 0.06rem 0.06rem 0;
                background-color: @main-color;
                color: #fff;
                border: 0.01rem solid @main-color;
            }
        }
    }
}