* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  font-size: 0.14rem;
}
li {
  list-style: none;
}
img {
  vertical-align: middle;
}
input {
  border: none;
  outline: none;
  font-size: 0.14rem;
}
body {
  padding: 0.45rem 0;
  height: 100vh;
}
/*头部公共样式*/
#header {
  display: flex;
  align-items: center;
  background-color: #006699;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}
#header .left {
  width: 0.45rem;
  height: 0.45rem;
  line-height: 0.45rem;
  color: #fff;
}
#header h4 {
  flex: 1;
  margin: 0;
  font-size: 0.18rem;
  line-height: 0.45rem;
  font-weight: normal;
  color: #fff;
}
#header .right {
  width: 0.45rem;
  height: 0.45rem;
  font-size: 0.20rem;
  line-height: 0.45rem;
  color: #fff;
}
#header .form {
  flex: 1;
  text-align: left;
  font-size: 0.14rem;
}
#header .form input {
  background-color: #fff;
  margin-bottom: 0;
}
/*底部公共样式*/
#footer {
  text-align: center;
  background-color: #006699;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 999;
}
#footer div.active a,
#footer div.active i {
  color: #ffa500;
}
#footer .mui-col-xs-3 {
  padding: 0.06rem 0;
}
#footer .mui-col-xs-3 i {
  display: block;
  font-size: 0.18rem;
  color: #fff;
}
#footer .mui-col-xs-3 a {
  color: #fff;
  font-size: 0.14rem;
}
#main {
  position: relative;
  background-color: #fff;
  height: 100%;
}
#main .search form {
  display: flex;
  padding: 0.05rem;
}
#main .search form input {
  flex: 1;
  margin-bottom: 0;
  background-color: #fff;
  border-radius: 0.06rem 0 0 0.06rem;
  border: 0.01rem solid #006699;
  text-align: left;
  font-size: 0.14rem;
}
#main .search form button {
  width: 0.6rem;
  color: #006699;
  border-radius: 0 0.06rem 0.06rem 0;
  background-color: #006699;
  color: #fff;
  border: 0.01rem solid #006699;
}
#header a:nth-of-type(2) {
  font-size: 0.14rem;
}
#main .mui-table-view li .mui-slider-handle .mui-pull-left {
  text-align: center;
}
#main .mui-table-view li .mui-slider-handle .mui-pull-left img {
  max-width: 0.6rem;
  height: 0.6rem;
}
#main .mui-table-view li .mui-slider-handle .mui-pull-left div input {
  position: static;
}
#main .mui-table-view li .mui-slider-handle .mui-media-body {
  font-size: 0.14rem;
  color: #000;
  padding-left: 0.1rem;
  line-height: 0.22rem;
}
#main .mui-table-view li .mui-slider-handle .mui-media-body .mui-navigate-right span {
  color: red;
}
#main .mui-table-view li .mui-slider-handle .mui-media-body .mui-navigate-right del {
  color: #999;
}
#main .mui-table-view li .mui-slider-handle .mui-media-body .count {
  display: flex;
  justify-content: space-between;
}
#footer .order {
  background-color: #fff;
  color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.01rem solid #ccc;
}
#footer .order div:nth-of-type(1) {
  padding-left: 0.1rem;
}
#footer .order span {
  padding: 0 0.1rem;
}
.list-size,
.count {
  padding: 0.1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-size .btn-size span,
.count .btn-size span {
  vertical-align: middle;
}
.list-size .btn-size button,
.count .btn-size button {
  margin-bottom: 0.05rem;
  vertical-align: middle;
}
body {
  padding-bottom: 0.8rem;
}
