* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  vertical-align: middle;
}
input {
  border: none;
  outline: none;
  font-size: 0.14rem;
}
body {
  padding: 0.45rem 0;
  height: 100vh;
}
/*头部公共样式*/
#header {
  display: flex;
  align-items: center;
  background-color: #006699;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}
#header .left {
  width: 0.45rem;
  height: 0.45rem;
  line-height: 0.45rem;
  color: #fff;
}
#header h4 {
  flex: 1;
  margin: 0;
  font-size: 0.18rem;
  line-height: 0.45rem;
  font-weight: normal;
  color: #fff;
}
#header .right {
  width: 0.45rem;
  height: 0.45rem;
  font-size: 0.20rem;
  line-height: 0.45rem;
  color: #fff;
}
#header .form {
  flex: 1;
  text-align: left;
  font-size: 0.14rem;
}
#header .form input {
  background-color: #fff;
  margin-bottom: 0;
}
/*底部公共样式*/
#footer {
  text-align: center;
  background-color: #006699;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 999;
}
#footer div.active a,
#footer div.active i {
  color: #ffa500;
}
#footer .mui-col-xs-3 {
  padding: 0.06rem 0;
}
#footer .mui-col-xs-3 i {
  display: block;
  font-size: 0.18rem;
  color: #fff;
}
#footer .mui-col-xs-3 a {
  color: #fff;
  font-size: 0.14rem;
}
#main {
  background-color: #fff;
  height: 100%;
}
#main .search form {
  display: flex;
  padding: 0.05rem;
}
#main .search form input {
  flex: 1;
  margin-bottom: 0;
  background-color: #fff;
  border-radius: 0.06rem 0 0 0.06rem;
  border: 0.01rem solid #006699;
  text-align: left;
  font-size: 0.14rem;
}
#main .search form button {
  width: 0.6rem;
  color: #006699;
  border-radius: 0 0.06rem 0.06rem 0;
  background-color: #006699;
  color: #fff;
  border: 0.01rem solid #006699;
}
#main {
  position: relative;
}
#main .mui-input-row {
  position: relative;
}
#main .mui-input-row .btn-vcode {
  position: absolute;
  top: 0;
  right: 0;
  width: 1rem;
}
#main .mui-button-row {
  padding: 0.05rem;
}
#main .mui-button-row .btn-register {
  width: 100%;
}
